

table{
   
    width: 80%;
    margin: 40px auto;
    padding: 40px;
    border-radius: 10px ;
    box-shadow: 5px 10px 18px #ddd;
}
th, td {
    padding: 30px 20px 0px 20px;
    border-bottom-width: 1px;

  }
  .Add-button{
    padding: 16px 20px;
    height: 50px;
    width: 78%;
    margin: 40px auto;  
    border-radius: 10px ;
    box-shadow: 5px 10px 18px #ddd;

}
.btn-envalid{
  border-radius: 5px;
  background-color:  #FDB64D;
  width: 100px;
  height: 30px;
}


.btn-valid{
  border-radius: 5px;
  background-color: #5BE881;
  width: 100px;
  height: 30px;
}
.btn-rejete{
  border-radius: 5px;
  background-color: #FF0000;
  width: 100px;
  height: 30px;
}



input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid rgb(165,161,161);
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #4b99d8;
}

input[type="reset"]:hover{
    background: #4b99d8;
}

/* button{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
} */




.open-button {
    width: 250px;
    background-color: #FDB64D;
    color: rgb(36, 35, 35);
    padding: 16px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    /* opacity: 0.8; */
    float: right
  }
  
  
  .form-popup {
    display: none;
    position: relative;
    bottom: 0;
    z-index: 9;
  }
  .form_button{
    position: relative;
    width: 300px;

  }
  /*  styles  form container */
  .form-container {
    border-radius: 10px ;
    width: 75%;
    margin: 40px auto;
    padding: 40px;
    border-radius: 10px ;
    box-shadow: 5px 10px 18px #ddd;
    display: grid;
    grid-template-columns: auto auto auto;

  }
  .grid-item{
    padding: 2px;
    margin: 20px;
   
  }
  
  .form-container input[type=text], .form-container input[type=number] {
    width: 70%;
   
   
  }
  #form_button{
  width: 100%;
  position: relative;
   left: 450px;
   top:  60px
;  }
h1{
  position: absolute;
  top: -9px;
  left: 15%;
}

 #Enregister{
  width: 250px;
  background-color: #FDB64D;
  color: rgb(36, 35, 35);
  padding: 16px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  /* opacity: 0.8; */
  float: right
 }
  
